<h2>{{ film.id ? 'Edit' : 'Add' }} Film</h2>
<form (ngSubmit)="onSubmit(filmForm)" #filmForm="ngForm">
  <mat-form-field>
    <mat-label>Názov</mat-label>
    <input matInput [(ngModel)]="film.nazov" name="nazov" required #nazov="ngModel">
    <mat-error *ngIf="nazov.invalid">{{ getErrorMessage(nazov) }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rok</mat-label>
    <input matInput type="number" [(ngModel)]="film.rok" name="rok" required #rok="ngModel">
    <mat-error *ngIf="rok.invalid">{{ getErrorMessage(rok) }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Slovenský Názov</mat-label>
    <input matInput [(ngModel)]="film.slovenskyNazov" name="slovenskyNazov" #slovenskyNazov="ngModel">
    <mat-error *ngIf="slovenskyNazov.invalid">{{ getErrorMessage(slovenskyNazov) }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>IMDb ID</mat-label>
    <input matInput [(ngModel)]="film.imdbID" name="imdbID" #imdbID="ngModel">
    <mat-error *ngIf="imdbID.invalid">{{ getErrorMessage(imdbID) }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>AFI 1998 Ranking</mat-label>
    <input matInput type="number" [(ngModel)]="film.poradieVRebricku['AFI 1998']" name="afi1998" #afi1998="ngModel">
    <mat-error *ngIf="afi1998.invalid">{{ getErrorMessage(afi1998) }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>AFI 2007 Ranking</mat-label>
    <input matInput type="number" [(ngModel)]="film.poradieVRebricku['AFI 2007']" name="afi2007" #afi2007="ngModel">
    <mat-error *ngIf="afi2007.invalid">{{ getErrorMessage(afi2007) }}</mat-error>
  </mat-form-field>
  <!--Malo by to meniť text na tlačidle podľa toho či pridávame alebo editujeme film, len to nefunguje-->
  <button mat-raised-button color="primary" type="submit" [disabled]="!filmForm.form.valid">
    {{ film.id ? 'Update' : 'Create' }}
  </button>
</form>